
body {
  font-family: "Comfortaa", sans-serif;
}

.header {
  background-color: #476ef7;
  color: white;
  padding-left: 25px;
  font-size: large;
}

.form {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #476EF7;
  margin-top: 16px;
  padding: 25px 0px;
}

.inputs {
  width: 30%;
}

#add-button {
  background-color: #476EF7;
  width: 50px;
  height: 50px;
  font-size: x-large;
  font-weight: 600;
  color: white;
  border-radius: 50%;
}

.cards {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

.card {
  background-color: #476EF7 !important;
  height: 150px;
  border: 0px !important;
}

.card-body {
  color: white;
}

.transaction-table {
  border: 1px black solid;
  width: 95%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  font-weight: 800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 0px;
}

#header-row {
  background-color: #476EF7;
}

#header-row th {
  padding: 15px 10px;
  color: white;
}

.transaction-table td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.delete-button,
.delete-button:hover {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .header {
    background-color: black;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .inputs {
    width: 75%;
  }

  #add-button {
    background-color: black;
    width: 75%;
    height: 50px;
    border-radius: 8px;
  }

  .cards {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card {
    background-color: black !important;
    height: 150px;
    width: 100% !important;
  }

  #header-row {
    background-color: black;
  }
}